
/* univseral styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* changes background color of body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-image: url("assets/FrenchFlag2.jpg"); */
}

img {
    margin-left: 100px;
}

h2 {
    font-size: 30px;
}

.container {
    width: 640px;
    background-color: grey;
    border-radius: 10px;
}

.card-header {
    background-color: black;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    background: #e9a6a6;
    width: 100%;
}

.card {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px red;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 5px;
}

.card-body {
    padding: 0.8rem;
    font-size: 1rem;
    height: 400px;
    overflow-y: auto;
}

.card-body .chat-bot {
    display: flex;
    align-items: center;
}

.card-body .chat-bot p {
    background-color: #7b92bd;
    border-style: double;
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

.card-body .user {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-body .user p{
    background-color: white;
    border-style: double;
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}